<app-user-popup *ngIf="modoPopup !== 'CLOSED'" [mode]="modoPopup" [user]="popupUser" (save)="onUserSave($event)"
    (cerrarPopUpOk)="onCerrarPopUpOk()" (cerrarPopUpCancel)="onCerrarPopUpCancel()">
</app-user-popup>
<header>
    <button (click)="volverLogin()" class="container-button-right">Log Out</button>
    <h2>User List</h2>
</header>
<div class="container-button">

    <button type="button" (click)="openCreatePopup()" class="main-button">Crear usuario</button>
    <button type="button" [disabled]="!usuarioSeleccionado" (click)="openEditPopupSelected()" class="main-button">Editar
        usuario</button>
    <button type= "button" [disabled]="!usuarioSeleccionado"class="button main-button-icon" (click)="eliminarUsuario()"><img src="assets/images/DeleteIcon.JPG"
            alt="eliminar" class="img-icon"></button>
</div>
<div class="table-container-overflow">
    <table>

        <thead>
            <tr>
                <th></th>
                <th>Género</th>
                <th>Nick de usuario</th>
                <th>Nombre completo</th>
                <th>Fecha de creación</th>
                <th>Edad</th>
                <th>Desayuno</th>
                <th>Puesto de trabajo</th>
                <th>Direccion principal</th>
                <th>Direcciones extra</th>
                <th>¿Es administrador?</th>

            </tr>
        </thead>

        <tbody id="table-body">
            <tr *ngFor="let usuario of usuarios" [class.selected]="usuarioSeleccionado === usuario">
                <td><input type="radio" name="usuarioSeleccionado" [(ngModel)]="usuarioSeleccionado" [value]="usuario">
                </td>
                <td><img [src]="usuario.icono" class="img-gender"></td>
                <td>{{ usuario.nickUsuario }}</td>
                <td>{{ usuario.primerApellido }} {{ usuario.segundoApellido }}, {{ usuario.nombre }} </td>
                <td>{{ usuario.fechaHoraCreacion ? usuario.fechaHoraCreacion.replace('T', ' ') : '' }}</td>
                <td>{{ calcularEdad(usuario.fechaNacimiento) }}</td>
                <td>{{ usuario.horaDesayuno || '' }}</td>
                <td>{{ usuario.puestoDeTrabajo?.nombre || 'Sin puesto' }}</td>
                <td>{{ usuario.direccionPrincipal?.nombreCalle || 'Sin dirección' }}, {{
                    usuario.direccionPrincipal?.numeroCalle || '' }}</td>
                <td>{{ usuario.direccionesExtra ?? 0 }}</td>
                <td>{{ usuario.esAdmin ? 'Sí' : 'No' }}</td>


            </tr>
        </tbody>

    </table>
</div>