html, body {
    height: 100%;
    margin: 0;
}

.nz-content {
    text-align: center;      /* centra el texto horizontalmente */
    margin-top: 20px;    
}

h2 {
    display: inline-block;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 30px;  /* tamaño de fuente grande */
    color: rgb(231, 5, 5);
}