<div class="dialog-overlay"></div>
<div class="dialog-box">
    <div class="dialog-title">
        <h3 class="form-title">{{ mode === 'create' ? 'Crear usuario' : 'Editar usuario' }}</h3>
    </div>
    <div class="form-control-table">
        <form (ngSubmit)="onSave()">
            <div class="form-row">
                <div class="form-column">
                    <label for="nickUsuario">Usuario:</label>
                    <input class="form-control" type="text" id="nickUsuario" name="nickUsuario"
                        [(ngModel)]="user.nickUsuario">
                </div>
                <div class="form-column">
                    <label for="contrasena">Password:</label>
                    <input class="form-control" type="text" id="contrasena" name="contrasena"
                        [(ngModel)]="user.contrasena">
                </div>
                <div class="form-column">
                    <label for="fechaCreacion">Fecha de creación:</label>
                    <input class="form-control" type="text" id="fechaCreacion" name="fechaCreacion"
                        [value]="user.fechaHoraCreacion?.replace('T', ' ').slice(0, 16)" disabled>
                </div>
            </div>

            <div class="form-row">
                <div class="form-column">
                    <label for="nombre">Nombre:</label>
                    <input class="form-control" type="text" id="nombre" name="nombre" [(ngModel)]="user.nombre">
                </div>
                <div class="form-column">
                    <label for="primerApellido">Primer apellido:</label>
                    <input class="form-control" type="text" id="primerApellido" name="primerApellido"
                        [(ngModel)]="user.primerApellido">
                </div>
                <div class="form-column">
                    <label for="segundoApellido">Segundo apellido:</label>
                    <input class="form-control" type="text" id="segundoApellido" name="segundoApellido"
                        [(ngModel)]="user.segundoApellido">
                </div>
            </div>

            <div class="form-row">
                <div class="form-column">
                    <label for="fechaNacimiento">Fecha de nacimiento:</label>
                    <input class="form-control" type="date" id="fechaNacimiento" name="fechaNacimiento"
                        [(ngModel)]="user.fechaNacimiento">
                </div>
                <div class="form-column">
                    <label for="genero">Género:</label>
                    <select class="form-control" id="genero" name="genero" [(ngModel)]="user.genero"
                        [compareWith]="compararGeneros">
                        <option *ngFor="let genero of generos" [ngValue]="genero">{{ genero.nombre }}</option>
                    </select>
                </div>
                <div class="form-column">
                    <label for="puestoDeTrabajo">Puesto de trabajo:</label>
                    <select class="form-control" id="puestoDeTrabajo" name="puestoDeTrabajo"
                        [(ngModel)]="user.puestoDeTrabajo" [compareWith]="compararPuestos">
                        <option *ngFor="let puesto of puestos" [ngValue]="puesto">{{ puesto.nombre }}</option>
                    </select>
                </div>
            </div>

            <div class="form-row">
                <div class="form-column">
                    <label for="horaDesayuno">Hora desayuno:</label>
                    <input class="form-control" type="time" id="horaDesayuno" name="horaDesayuno"
                        [(ngModel)]="user.horaDesayuno">
                </div>
                <div class="form-column">
                    <label for="esAdmin">¿Es administrador?:</label>
                    <select class="form-control" id="esAdmin" name="esAdmin" [(ngModel)]="user.esAdmin">
                        <option [ngValue]="true">Sí</option>
                        <option [ngValue]="false">No</option>
                    </select>
                </div>
            </div>

            <hr>
            <h3 class="form-title">Direcciones: </h3>
            <div *ngIf="mode === 'create'                                               ">
                <div class="container-button">
                    <button type="button" class="main-button" (click)="muestraCrear()"> Crear </button>
                </div>
                <div *ngIf="mostrarCrear" class="form-row create-direccion-row">

                    <div class="form-column">
                        <label for="direccionPrincipal">Dirección principal:</label>
                        <input type="checkbox" id="direccionPrincipal"
                            [(ngModel)]="direccionCreadaEnEditar.direccionPrincipal" name="direccionPrincipal">
                    </div>
                    <div class="form-column">
                        <label for="nombreCalle">Nombre de la calle: </label>
                        <input class="form-control" type="text" id="nombreCalle" name="nombreCalle"
                            [(ngModel)]="direccionCreadaEnEditar.nombreCalle">
                    </div>
                    <div class="form-column">
                        <label for="numeroCalle">Número de la calle: </label>
                        <input class="form-control" type="text" id="numeroCalle" name="numeroCalle"
                            [(ngModel)]="direccionCreadaEnEditar.numeroCalle">
                    </div>
                </div>
            </div>



            <div *ngIf="mode === 'edit'">
                <div class="container-button">
                    <button type="button" class="main-button" (click)="muestraCrear()"> Crear </button>
                    <button type="button" class="main-button" (click)="editarDireccionSeleccionada()"> Editar </button>
                    <button type="button" class="main-button" (click)="borrarDireccionSeleccionada()"><img
                            src="assets/images/DeleteIcon.JPG" alt="eliminar" class="img-icon"></button>
                </div>
                <div class="table-container-overflow">
                    <table>
                        <thead>
                            <tr>
                                <th></th>
                                <th>Principal</th>
                                <th>Nombre de la calle</th>
                                <th>Número</th>
                            </tr>
                        </thead>
                        <tbody id="table-body">
                            <tr *ngFor="let direccion of direcciones">
                                <td>

                                    <input type="radio" name="direccionSeleccionada"
                                        [checked]="direccionSeleccionada === direccion"
                                        (change)="seleccionarDireccion(direccion)">

                                </td>
                                <td>

                                    <input type="radio" name="direccionPrincipal" [value]="direccion.id"
                                        [checked]="direccion.direccionPrincipal"
                                        [disabled]="direccionEditandoId !== direccion.id"
                                        (change)="onPrincipalChange(direccion.id)">

                                </td>
                                <td>

                                    <span *ngIf="!esDireccionEditando(direccion)">

                                        {{ direccion.nombreCalle }}

                                    </span>

                                    <input *ngIf="esDireccionEditando(direccion)" type="text" class="form-control"
                                        [(ngModel)]="direccion.nombreCalle" [name]="'nombreCalle' + direccion.id">

                                </td>

                                <td>

                                    <span *ngIf="!esDireccionEditando(direccion)">

                                        {{ direccion.numeroCalle ?? '-' }}

                                    </span>

                                    <input *ngIf="esDireccionEditando(direccion)" type="number" class="form-control"
                                        [(ngModel)]="direccion.numeroCalle" [name]="'numeroCalle' + direccion.id">

                                </td>

                            </tr>
                        </tbody>
                    </table>
                </div>
                <div *ngIf="mostrarCrear" class="form-row create-direccion-row">
                    <div class="form-column">
                        <label for="nombreCalle">Nombre de la calle: </label>
                        <input class="form-control" type="text" id="nombreCalle" name="nombreCalle"
                            [(ngModel)]="direccionCreadaEnEditar.nombreCalle">
                    </div>
                    <div class="form-column">
                        <label for="numeroCalle">Número de la calle: </label>
                        <input class="form-control" type="text" id="numeroCalle" name="numeroCalle"
                            [(ngModel)]="direccionCreadaEnEditar.numeroCalle">
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="container-button-right">
        <button type="button" (click)="onSave()" class="main-button">Aceptar</button>
        <button type="button" (click)="onCancel()" class="main-button">Cancelar</button>
    </div>
</div>